.form-group {
  margin-bottom: 5px;
  padding-top: 5px;
}

.form-group input {
  border-radius: 0;
  background: #FFFFFF;
  border: 1px solid #B6B9D0;
  box-sizing: border-box;
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.05);
}

.form-group input:focus {
  border: 1px solid #17D499;
  outline: none;
}