.sign-container {
  display: flex;
  margin: 0px -5px;
}

.sign {
  margin: 1px 5px;
  border: 1px solid #EAEAF4;
  width: 33.33%;
  border-radius: 10px;
  height: 8px;
  background: #EAEAF4;
}

.sign.success,
.indicator.success {
  background: #1FE6A8;
  border: 1px solid #1FE6A8;
}

.sign.warning,
.indicator.warning {
  background: #F7BC1C;
  border: 1px solid #F7BC1C;
}

.sign.danger,
.indicator.danger {
  background: #F79682;
  border: 1px solid #F79682;
}

.labels-container {
  margin: 5px 0px;
}

.label-custom {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.indicator {
  border: 1px solid #eaeaf4;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #EAEAF4;
  margin-right: 7px;
}

.label-custom span {
  color: #696D8C;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  float: left
}